/*
we kick things off, mobile first, with the most basic styles for smaller viewports
IE6-8 will be delivered this setup too - they'll ignore the media queries, so you could perhaps add a max-width to the .wrapper just for IE6-8 (the classes are already hooked up to the html element)
*/


/*some base rules - box-sizing, because it's awesome, and fluid images*/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	}

img {
	max-width: 100%;
}

/*main structure*/
html {
	font-size: 100%;
	background: #d4d8dd;
}

body {
	font: 0.875em/1.5em Arial, sans-serif; /*base font-size of 14px (14/16 - lineheight based on 21px 1.5x14)*/
	color: #848585;
}

a {
	color: #848585;
    font-weight: bold;
}

a:hover {
	text-decoration: none;	
}

p {
	margin: 0 0 1.5em 0;
}

ol, ul, li {
	padding: 0;
    list-style: none;
}

h1, h2, h3 {
	margin: 0 0 1.3em 0;
}

h2 {
	font-size: 1.7em;
}

h1.logo {
	margin: 0;
}

h1.logo a {
	text-decoration: none;
}

/*we need to hide the main nav too, because the select is currently in use*/
nav.primary ul {
	display: none;		
}

nav.primary select {
	width: 100%;
	height: 1.5em;
}

/*let's structure and color-code our main elements, so we can see what's going on*/

.wrapper {
	width: 100%;
	max-width: 2000px;	/*well, we don't want to get stupid now, eh?*/
	margin: 0 auto;
}

header,
nav.primary,
section.content,
aside,
footer {
	float: left;
	width: 100%;
	padding: 1.5em 4%;
}

header {
	background: #fcffff;
    height: 15%;
    padding: 0 3% !important;
}

section.content {
	background: #fcffff;
}

.voting > div {
    width: 50%;
}

	/* -------------- media queries*/
	
	/* Up to Mobile Landscape Size */
	@media only screen and (max-width: 479px) {
        section.content div label, section.content li label {
            text-align: left;
        }

        section.content input {
            width: 100%;
        }

        section.content input[type="checkbox"] {
            width: auto;
        }
    }

	/* Upwards of Mobile Landscape Size  */
	@media only screen and (min-width: 480px) {

        nav.primary {
            border-bottom: 1px solid #d4d8dd;
        }

		nav.primary select {
			display: none;
		}
		
		nav.primary ul {
			display: block;		
		}
		
		nav.primary ul,
		nav.primary ul li {
			margin: 0px;
		}
		
		nav.primary ul li {
			display: inline;
			float: left;
            margin-left: 4%;
            max-height: 50px;
			position: relative;
            width: 22%;
		}

        nav.primary.login ul li {
            width: 48%;
        }

        nav.primary ul li a p {
            margin: -2% 0 0 !important;
        }

        nav.primary ul li:first-child {
            margin-left: 0;
        }
		
		nav.primary ul li a {
			display: inline-block;
			color: #fff;
			padding: 1em;
			text-decoration: none;
			font-weight: bold;
            width: 100%;
		}

		nav.primary ul li a:hover {
			background: #424242;
			cursor: pointer;
		}

		nav.primary ul li span {
			display: none;
		}

        section.content label {
            width: 160px;
        }

        .ml-160, #error_explanation {
            clear: both;
            margin-left: 160px;
        }

    }
	/* Beyond All Mobile Sizes, Tablet Portrait etc. */
	@media only screen and (min-width: 768px) {

		/*structure*/
		
		header,
		nav.primary,
		section.content,
		aside,
		footer {
			padding: 1.5em 3%;
		}

        header .logo {
            width: 97%;
        }

        header .user {
            text-align: left;
            width: 97%;
        }

        section.content {
            width: 100%;
        }

        footer nav {
            width: 25%;
        }

        .voting > div {
            width: 25%;
        }
		
	}
		
	/* Beyond standard 960 */
	@media only screen and (min-width: 960px) {
		

		/*structure*/

		header,
		nav.primary,
		section.content,
		aside,
		footer {
			padding: 1.5em 2%;
		}

        header .logo {
            float: left;
            width: 47%;
        }

        header .user {
            float: right;
            text-align: right;
            width: 47%;
        }

        section.content {
            width: 100%;
        }

        footer {
            width: 100%;
        }

        footer nav {
            width: 100%;
        }

		footer nav ul li a {
			display: block;
		}
		
	}
	
	/* now we're getting really big.. */
	@media only screen and (min-width: 1220px) {
				
		body {
			font: 1em/1.5em Arial, sans-serif; /*time to make things a wee bit bigger*/
		}

        header {
            border-bottom: 1px solid #00b0bc;
        }
        header .shadow {
            background-image: asset-url('shadow.png', images);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 100% auto;
            clear: both;
            height: 30px;
            position: absolute;
            top: 14.9%;
            width: 94%;
        }
		
		footer {
			width: 15%;
		}

		nav.primary {
            height: 85%;
			width: 15%;
		}
		
		nav.primary ul li{
            background: none;
            height: 24%;
            margin-left: 0;
            margin-top: 4%;
            max-height: 100%;
            width: 100%;
        }

        nav.primary.login ul li {
            width: 100%;
        }

        nav.primary ul li:first-child {
            margin-top: 0;
        }
		
		nav.primary ul > li a {
            background-size: 50% !important;
			display: block;
            position: absolute;
		}

        section.content {
            width: 70%;
        }

        section.content, footer {
            height: 85%;
        }
        section.content label {
            width: 240px;
        }
        .ml-160, #error_explanation {
            margin-left: 240px;
        }
		
	}
	
		/* go on then, one last query.. */
	@media only screen and (min-width: 1420px) {
				
		body {
			font: 1.1em/1.5em Arial, sans-serif; /*even bigger, why not?*/
		}
	
	}