// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

body.active_admin form fieldset > ol > li#user_groups_input fieldset ol.choices-group,
body.active_admin form fieldset > ol > li#charts fieldset ol.choices-group {
  float: left;
  margin-bottom: 10px;
  padding-left: 0;
  li.choice {
    float: left;
    width: 200px;
    &:nth-of-type(5n+6) {
      clear: both;
    }
    input {
      float: left;
      margin: 2px 5px 0 0;
    }
    &:nth-of-type(5n+6) {
      clear: both;
    }
  }
}

body.active_admin form fieldset > ol > li#charts fieldset ol.choices-group {
  .choice {
    float: left;
    width: 200px;
  }
  .choice.groups {
    width: 100%;
    ol {
      padding-left: 0;
      width: 100%;
      li {
        float: left;
        width: 200px;
        &:nth-of-type(5n+6) {
          clear: both;
        }
        &:first-of-type {
          text-transform: uppercase;
        }
      }
    }
  }
  &#users_container, &#groups_container {
    padding-left: 20%;
    & > label {
      left: 0;
      position: absolute;
    }
  }
}
