@font-face {
  font-family: 'BebasNeueRegular';
  src: asset-url('BebasNeue-webfont.eot', font);
  src: asset-url('BebasNeue-webfont.eot?#iefix', font) format('embedded-opentype'),
  asset-url('BebasNeue-webfont.woff', font) format('woff'),
  asset-url('BebasNeue-webfont.ttf', font) format('truetype'),
  asset-url('BebasNeue-webfont.svg#BebasNeueRegular', font) format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 100%;
}

h2 {
  color: #00b0bc;
  font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;
  font-size: 300%;
  line-height: 100%;
}

.wrapper {
  height: 100%;
}

header {
  display: table;
  .va {
    display: table-cell;
    vertical-align: middle;
  }
}

.flash {
  background: #00b0bc;
  color: #fff;
  display: inline-block;
  padding: 8px;
}

nav.primary {
  ul {
    height: 100%;
    padding: 0;
    li {
      a {
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 100%;
        min-height: 50px;
        padding: 0;
        text-align: center;
        p {
          color: #00b0bc;
          display: none;
          font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;
          font-size: 200%;
          position: absolute;
          margin: -5% 0 0;
          top: 50%;
          width: 100%;
        }
      }
      &:hover a {
        background: none !important;
        p {
          display: block;
        }
      }
    }

    #menu_login_link {
      background-image: asset-url('login.png', image);
    }
    #menu_register_link {
      background-image: asset-url('register.png', image);
    }
    #menu_home_link {
      background-image: asset-url('home.png', image);
    }
    #menu_answers_link {
      background-image: asset-url('answers.png', image);
    }
    #menu_profile_link {
      background-image: asset-url('profile.png', image);
    }
    #menu_logout_link {
      background-image: asset-url('logout.png', image);
    }
  }
}

.voting {
  & > div {
    background-size: 100%;
    display: table;
    & > div:hover {
      cursor: pointer;
      background-image: none !important;
      p {
        display: block;
      }
    }
    .icon {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 100%;
      display: table-cell;
      height: 80%;
      padding: 10%;
      vertical-align: middle;
      width: 80%;
      p {
        font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;
        text-align: center;
        display: none;
      }
    }
    float: left;
  }
  .happy {
    .icon {
      background-image: asset-url('happy.png', image);
    }
  }
  .nice {
    .icon {
      background-image: asset-url('nice.png', image);
    }
  }
  .average {
    .icon {
      background-image: asset-url('average.png', image);
    }
  }
  .disappointing {
    .icon {
      background-image: asset-url('disappointing.png', image);
    }
  }
  .selected {
    background-image: asset-url('selected.png', image);
    background-repeat: no-repeat;
    .icon {
      background-position: 50% 35%;
      background-size: 80%;
    }
    div {
      border: 1px solid #fff;
    }
  }
}

ul.readme li:before {
  color: #00b0bc;
  content: "\2022";
}

section.content {
  label {
    display: block;
    float: left;
    padding: 3px 10px 0 0;
    text-align: right;
  }
  #user_remember_me {
    float: left;
    margin: 6px 6px 20px 0;
  }
  [for="user_remember_me"] {
    float: none;
    text-align: left;
  }
  input, button {
    background: #00b0bc;
    border: none;
    color: white;
    line-height: normal;
    margin-bottom: 20px;
    padding: 5px;
  }
  button, input[type="submit"] {
    font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif;
    font-size: 24px;
    padding: 10px;
    &:hover {
      background: transparent;
      color: #00b0bc;
    }
  }
}

footer {
  font-size: 87.5%;
  a {
    color: #00b0bc;
  }
}

#error_explanation {
  background: #00b0bc;
  color: #fff;
  margin-bottom: 30px;
  padding: 8px;
  h2 {
    color: #fff;
    font-size: 24px;
    margin: 0 0 10px;
  }
  ul {
    margin: 0;
     padding-left: 0;
  }
}